
# Don't include the zipped version of the final implementation
*.zip

# Include only .py and .txt files from src/
!src/*.py
!src/*.txt
src/*

# Include the .gitignore
!.gitignore
# No other dotted directories/files
.*

# No python venv files
__pycache__/
bin/
lib/
lib64
share/
