
# Don't include the zipped version of the final implementation
*.zip

# No need to include all the CSVs on Github
!src/MedtronicDataFormatter.py
src/Medtronic*

# Include the .gitignore
!.gitignore
# No other dotted directories/files
.*

# No python venv files
__pycache__/
bin/
lib/
lib64
share/
